.page{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: "roboto";
    width: 1000px; 
    margin: auto;
}
.page div{
    flex: 1 1 auto;
    border: 0px solid black;
    margin: 4px;
}
.page .top{
    margin-top: 0px;
    height: 300px;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}
.top div{
    flex: 1 1 0%;
}
.toptop{
    display: flex;
    flex-direction: row;
}
.toptop div{
    flex: 1 1 0%;
}
.toptop .toptopleft,.toptop .toptopright{
    flex: 3 1 0%;
}
.toptop .toptopleft{
    font-weight: 600;
    font-size: 20px;
}
.toptop .toptopright{
    display: flex;
    flex-direction: row;
    text-align: right;
}
.toptopright{
    font-weight: 300;
    font-size: 12px;
}
.toptopright a{
    color: white; 
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    font-style:normal;
}

.top .topmid{
    display:flex;
    flex-direction: row;
    flex: 3 1 0%;
}
.topmid div{
    flex: 1 1 0%;
}
.topmid .topmidmid2,.topmid .topmidmid1{
    flex: 3 1 0%;
    height: 170px;
}
.topmidmid2{
    display: flex;
    flex-direction: row;
}
.topmidmid2 div{
    flex: 1;
}
.topmidmid2 img{
    width: 350px;
    height: auto;
    border: 2px solid white;
}
.topmidmid1 div{
    margin-bottom: 10px;
}

.boldtxt{
    font-size: 30px;
    font-weight: 800;
    margin: 0px;
}
.middle{
    display:flex;
    flex-direction: column;
}
.middle div{
    flex: 1 1 0%;
}

.midtop p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.middle .midmid{
    flex: 3 1 0%;
    display: flex;
    flex-direction: row;
}
.midmid div{
    flex: 1 1 0%;
}
.midmid .midmidmid{
    display: flex;
    flex-direction: column;
    flex: 3 1 0%
}
.midmidmid div{
    flex: 1 1 0%;
}
.midmidmid .midmidmidtop{
    flex: 3 1 0%;
    height: 500px;
}

.midmidmid .midmidmidtop div{
    height: 120px;
}

.midmidmidtop, .midmidmidbottom{
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    padding: 2px;
}

.midmidmidtop div{
    border: 2px solid #3882f6;
    border-radius: 5px;
    flex: 1 1 0%;
    display: flex
}

.midmidmidtop div .midpic{
    width: 110px;
    flex: 1;
}


.bottom{
    height: 250px;
    background-color: lightgray;
    color: black;
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
}
.bottom div{
    width: 550px;
    flex: 1 1 0%;
    margin: auto;
}
button{
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px;
    
}
button:hover {
    background-color: #71a4f5;
}
button:active{
    background-color: #71a4f5;
    box-shadow: inset -1px -1px;
}
.quoted{
    text-align: right;
    font-size: 15px;
}
.base{
    height: 250px;
    display: flex;
    flex-direction: column;
}
.base div{
    flex: 1 1 0%;
    width: 700px;
    margin: auto;
}
.base .basemid{
    background-color:#3882f6;
    border: 2px solid gray;
    flex: 1.5 1 0%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    color: white;
}
.base .basemid div{
    flex: 1 1 0%;
    text-align: center;
}


